body{
  margin:0;
}

.searchButton{
padding: .5 rem .9rem;
font-weight: 600;
border: none;
border-radius: 10px;
}
.searchButton:hover {
  background-color: #586F7C;
}

.searchInput{
flex:1;
background-color: transparent;
border:none;
outline: none;
padding: .5 rem .70rem;
color: #023618;
}

.search{
display: flex;
align-items: center;
gap: .5rem;
max-width: 600px;
margin: 1.5 rem auto;
background-color:#CAC2B5 ;
border-radius: 10px;
border: 1px solid;
}

.title{

}

.text{

}

/* #4D243D brownish purple
#023618 dark green
#CAC2B5 tan
#586F7C
#FFFAFF */